/* GLOBAL */
:root{
    --body-bg:#fff;
    --header-color: #1d2026;
    --text-color:#69707d;
    --text-color-dark:#1d2026;
    --orange-color: #ff7e1b;
    --light-color: #e4e9f2;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--text-color);
    font-family: 'Kumbh Sans', 'Arial',  sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
	position: absolute ;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 ;
	border:0 ;
	height: 1px ; 
	width: 1px ; 
	overflow: hidden;
}

/* PLACEHOLDER STYLES */

::-webkit-input-placeholder { 
    color:    #909;
}
:-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    #909;
}
::-ms-input-placeholder {
   color:    #909;
}

::placeholder { 
   color:    #909;
}

.main-content{
    flex-grow: 1;
}

/* HEADER */
.site-header {
    border-bottom: 1px solid var(--light-color);
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 56px;
}

.logo {
    display: block;
    width: 137px;
    height: 20px;
    object-fit: contain;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}

.logo__img {
    width: 100%;
}

.site-header__nav {
    margin-right: auto;
}

.sitenav__list {    
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.sitenav__item{
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: var(--text-color);
}

.sitenav__link:hover{
    color: var(--text-color-dark);
}

.sitenav__link:hover::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--orange-color);
}

.site-header__cart {
    padding-right: 20px;
}

.site-header__cart-link {
    display: flex;
    position: relative;
    color: var(--text-color);
}

.site-header__cart-link:hover{
    color: var(--header-color);
}

.site-header__cart-link:active{
    opacity: 0.6;
}

.site-header__cart-count {
    position: absolute;
    top: -6px;
    left: calc(100% - 13px);
    padding: 1px 6px;
    font-size: 10px;
    line-height: normal;
    font-weight: bold;
    border-radius: 7px;
    background-color: var(--orange-color);
    color: #fff;
}

.site-header__cart-icon {
    width: 22px;
    height: 20px;
    object-fit: contain;
}

.site-header__profile-wrapper {
    margin-left: 46px;
}

.site-header__profile-link {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
}

.site-header__profile-link:hover{
    border-color: var(--orange-color)
}

.site-header__profile-avatar {
    width: 50px;
    height: 50px;
}